@font-face {
  font-family: "RasterForge";
  src: url("/fonts/RasterForgeRegular-JpBgm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 建议加上，改善字体加载体验 */
}

@import "tailwindcss";

@layer base {
  :root {
    --color-background-from: #12c2e9;
    --color-background-via: #c471ed;
    --color-background-to: #f64f59;
  }

  .dark {
    --color-background-from: #0a0033;
    --color-background-via: #2b0066;
    --color-background-to: #00e0ff;
  }
}

@theme {
  --font-pixel: "RasterForge", var(--font-sans);
  --color-from: var(--color-background-from);
  --color-via: var(--color-background-via);
  --color-to: var(--color-background-to);
}
